<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contacts</title>
</head>
<body>
	<h1>Contact List</h1>
	<p><a href="/contacts/new">Add new contact</a></p>
	<p><a href="/contacts/favourites">Go to favourites</a></p>
	<form action="/contacts/search" method="POST">
	<input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
		<input type="text" name="search_term" placeholder="Enter search term">
		<button type="submit">Search</button>
	</form>

	<ul>
	<% @contacts.each do |contact| %>
		<li><a href=<%="/contacts/show/#{contact.id}"%>>
		<%="#{contact.name} - #{contact.address} - #{contact.phone_number} - #{contact.email_address}"%></a></li>
	<%end%></ul>
	

</body>
</html>