<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Show Contact</title>
</head>
<body>
	<h1>Show contact</h1>
	<p><%="Name: #{@contact.name}"%></p>
	<p><%="Address: #{@contact.address}"%></p>
	<p><%="Phone: #{@contact.phone_number}"%></p>
	<p><%="Email: #{@contact.email_address}"%></p>
</body>
</html>